main{
    text-align: center;
}

#car-config-form {
    height: 300px;
    width: 350px;
    font-style: bold;
    padding: 20px;
    color: rgb(4, 54, 54);
    border-radius: 10px;
    justify-content: center;

  }
#container {
  flex-direction: column;
  height: 100vh;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(255, 255, 255, 0.563);
 
   /* align-items: center; */
  }
  header {
    display: flex;
    justify-content: space-between;
}

nav {
  align-self: flex-end;
}
  #owner-name{
    width: 300px;
  }
  .configheader{
    padding:2px 2px 1px;
    margin: 0 auto;
    padding-inline: 4px;
    font-style:bold;
    background-color: rgb(225, 228, 231);
    gap: 200px;
    /* display: flex;   */
    margin-top: 10px; 
    margin-bottom: 0px;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 100px; 
  margin-bottom: 100px;
  align-self: center;
  padding-bottom: 200px;
 
}
#totalPrice {
  align-self: flex-end;
  margin-right: 20px;
}

#carModel {
  align-self: flex-end;
  margin-right: 20px;
}
.accessories{
  margin-top: 10px; 
}